# Tailwind command line tool
tailwindcss

# Generated output from Tailwind command line tool
static/css/output.css

# Compiled executable
main

# Database
media-download-manager.db
media-download-manager.db-shm
media-download-manager.db-wal
