{{ define "directory-list" }}
<div id="directory-list">
    <input name="directory" class="hidden" value="{{ .CurrentDirectory }}">
    <span class="text-gray-800 dark:text-white text-sm italic">Current Directory: {{ .CurrentDirectory }}</span>
    <div
        class="relative w-full p-2 bg-white text-gray-800 dark:bg-gray-800 dark:text-white overflow-hidden px-1 border rounded border-gray-200">
        <div id="loading" class="htmx-indicator absolute w-full h-full align-middle text-center">Loading...</div>
        <div class="cursor-pointer" hx-vals='{"directory-picker": "{{ $.PreviousDirectory }}"}' hx-trigger="click"
            hx-post="directories/" hx-target="#directory-list" hx-indicator="#loading" hx-swap="outerHTML">..</div>
        {{ range .Directories }}
        <div class="cursor-pointer" hx-vals='{"directory-picker": "{{ $.CurrentDirectory }}/{{ .Name }}"}'
            hx-trigger="click" hx-post="directories/" hx-indicator="#loading" hx-target="#directory-list"
            hx-swap="outerHTML">
            {{ .Name }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}