<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/modal.css" rel="stylesheet">
    <link href="static/css/output.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <title>Media Download Manager</title>
</head>

<body class="bg-white dark:bg-gray-700">
    <div class="container mx-auto px-4">
        <h1 class="mb-4 text-4xl font-bold text-gray-800 dark:text-white">Media Download Manager</h1>

        <div class="w-full text-right mb-4">
            <button hx-get="/modal" hx-target="body" hx-swap="beforeend"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                New Download
            </button>
        </div>

        <ul id="download-list" hx-confirm="Are you sure?" hx-target="closest li" hx-swap="outerHTML"
            class="w-full divide-y divide-gray-200 border-2 border-solid rounded-lg border-gray-200">
            {{ range .Downloads }}
            {{ block "download-list-element" .}}
            <li class="p-3 flex justify-between items-center gap-2">
                <div class="flex gap-2 items-center">
                    {{ template "progress" .ProgressProps }}
                    <div>
                        <div class="font-bold text-gray-800 dark:text-white">{{ .Download.Title }}</div>
                        <div class="text-gray-800 dark:text-white">{{ .Download.TimeRemaining }}</div>
                    </div>
                </div>
                <div class="text-black dark:text-white fill-current w-6 h-6 cursor-pointer shrink-0" hx-delete="/downloads/{{ .Download.Id }}">
                    {{ template "close-icon" }}
                </div>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</body>

</html>