{{ define "progress" }}
    <div class="relative size-14">
        <svg class="size-full" width="18" height="18" viewBox="0 0 18 18"
            xmlns="http://www.w3.org/2000/svg">
            <!-- Background Circle -->
            <circle cx="9" cy="9" r="7" fill="none"
                class="stroke-current text-gray-200 dark:text-gray-700" stroke-width="2"></circle>
            <!-- Progress Circle inside a group with rotation -->
            <g class="origin-center -rotate-90 transform">
                <circle cx="9" cy="9" r="7" fill="none"
                    class="stroke-current text-blue-600 dark:text-blue-500" stroke-width="2"
                    stroke-dasharray="43.96" stroke-dashoffset="{{ .DashOffset }}"></circle>
            </g>
        </svg>
        <!-- Percentage Text -->
        <div
            class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2 items-center">
            <span class="text-center text-xs font-bold text-gray-800 dark:text-white">{{
                .Download.Progress
                }}%</span>
        </div>
    </div>
{{ end }}
